extends layout 

block content 
  .novajlije 
    h3 Nadogradnja 250222_1
    p.wnp Navigacija kroz stranice je intuitivnija
    p.novo Novo!
    p.wnp Diskusije 
    p.wnp
      i -Ako korisnik nije siguran kako da nazove kartu ili koju tezinu da joj da, ako ima ideju za kartu i zeli da je podijeli sa grupom da bi je sto bolje realizovao moze da napravi diskusiju.
    p.wnp 
      i -Koristenje diskusija je jednostavno. Kreiras svoju diskusiju ili komentarises druge.
    h3 Nadogradnja 250222_2
    p.wnp Popravljeni neki poznati bagovi

  a(href="/") Login 